@media screen and (max-width: 1023px) {
    .container {
      max-width: 80%;
    }
    .products {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3%;
    }
  }
  @media screen and (max-width: 767px) {
    .products {
      grid-template-columns: 1fr;
      display: block;
    }
    .product-item {
      margin-bottom: 32px;
    }
}